<!DOCTYPE html>
<html lang="fr" dir="ltr" ng-app="sibellule">

<head>
  <meta charset="utf-8" />

  <!-- Bootstrap setting -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <!-- A moi -->
  <link rel="stylesheet" href="assets/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-animate.js"></script>
  <title>Sibellule Shop</title>
</head>

<body>

  <div class="container">
    <a href="#!/">Tous les produits</a>
    <a href="#!/showProduct/10">Lien description</a>
    <a href="#!/showCategory/Bijoux">Lien catégorie</a>

  </div>

  <div ng-view>

  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" ng-controller="allCategories">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card mb-3" style="max-width: 768px;" ng-repeat="items in cart">
            <div class="row no-gutters">
              <div class="col-12 col-md-2">
                <img ng-src="{{items.link}}" class="card-img img-fluid" alt="">
              </div>
              <div class="col-12 col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{items.product}}</h5>
                  <div class="container">
                    <div class="row">
                      <div class="col-12 col-md-3">
                        <small class="text-muted">{{items.ref}}</small>
                      </div>
                      <div class="col-12 col-md-3">
                        <p>Qté : <i class="fas fa-minus-circle" ng-click="items.qty = items.qty - 1; items.qty ? '' : removeFromCart(items)"></i><span class="pl-3 pr-3">{{items.qty}}</span><i class="fas fa-plus-circle" ng-click="items.qty = items.qty + 1"></i></p>
                      </div>
                      <div class="col-12 col-md-3">
                        {{items.price * items.qty | currency:"&euro;"}}
                      </div>
                      <div class="col-12 col-md-3">
                        <button type="button" class="btnRounded" ng-click="removeFromCart(items)"><i class="fas fa-times"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
  <!-- JSmaiSON -->
  <script type="text/javascript" src="assets/scripts/main.js"></script>
</body>
<div class="containerFooter">
  <div class="row">
    <div class="col-sm-4-lg-6 mx-auto">
      <h4 class="text-danger font-weight-bold">Sibellule Shop</h4>
      <h6 class="font-weight-bold font-weight-bold">Horaires : </h6>
      <p class="">
        Mardi au vendredi : 9H-12H / 14H30-19H <br>
        Samedi : 9H - 12H30 / 14H30-19H <br>
        Fermé le Lundi</p>
    </div>
    <div class="col-sm-4-lg-6 mx-auto">
      <h4 class="text-danger font-weight-bold">Produits : </h4>
      <ul>
        <li><a class="" href="#!">Déco</a></li>
        <li><a class="" href="#!">Bijoux</a></li>
        <li><a class="" href="#!">Accessoires</a></li>
        <li><a class="" href="#!">Tous les produits</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4-lg-4 mx-auto">
      <h6 class="font-weight-bold">Coordonnées</h6>
      <p>29 Rue Alexandre Legros</br>
        76400 Fécamp</br>
        Tél : 02 35 29 37 06</p>
    </div>
    <div class="col-sm-4-lg-4 mx-auto">
      <iframe id="map" <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2577.572429958728!2d0.37481741570636534!3d49.75648837938552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e06b6a1ae9db63%3A0x3be59082668fb00f!2sSibellule!5e0!3m2!1sfr!2sfr!4v1557409892510!5m2!1sfr!2sfr"
        width="150" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12-lg-12 mx-auto">
      <a href="https://www.facebook.com/sibellule.fecamp/" name="facebook" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="https://www.instagram.com/sibellule_fecamp_officiel/?hl=fr" name="instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
    </div>
  </div>
</div>
<div class="containerBackFooter border border-light">
  <div class="row pt-3 pb-3">
    <div class="col-sm-4-lg-4 mx-auto text-center text-light">
      <p>© 2019 Copyright<p>
    </div>
    <div class="col-sm-4-lg-4 mx-auto text-center">
      <img src="assets/img/logo.jpg" alt="logo" id="imgLogofooter">
    </div>
    <div class="col-sm-4-lg-4 mx-auto text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger text-right" data-toggle="modal" data-target="#exampleModalLong">
        Conditions générales
      </button>
      <!-- Modal -->
      <div class="modal fade text-center" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Conditions générales</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>Mentions légales</h3>
              <p>Le site sibellule.fr est édité par Sibellule SARL : <br>
                29 Rue Alexandre Legros</br>
                76400 Fécamp</br>
                Tél : 02 35 29 37 06<br>
                Directeur de la publication : Sybille <br>
                Co-directeur de la publication : Team La Manu<br>
                Crédits<br>
                Visuels : Syb pictures<br>
                Illustrations :<br>
                Geoffrey Darden CC-BY-SA 3.0 FR</p>

              <p>Objectif et qualité des contenus : <br>
                Ce site a pour objectif de commercialiser les produits de la boutique. Sibellule Shop s’efforce de fournir une information de qualité et vérifiée, toutefois si une information semble inexacte ou contient une erreur typographique, vous
                pouvez le signaler à l’administrateur du site.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</footer>

</html>
