<div class="container" ng-controller="description">
        <div class="card">
        <img class="img-fluid card-img-top" ng-src="{{products[idProduct].link}}" alt="" />
        <div class="card-body">
        <button type="button" class="btnFloating" ng-click="addToCart(item)"><i class="fas fa-shopping-basket"></i></button>
          <h5 class="card-title">{{products[idProduct].product}}</h5>
          <p class="card-text">{{products[idProduct].description}}</p>
        </div>
        <div class="card-footer">
          <p class="card-text"><small>{{products[idProduct].price | currency:"&euro;"}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
