<div class="container descriptionCard" ng-controller="description">
<div class="card">
  <div class="row no-gutters">
    <div class="col-lg-5 col-md-5 descripImg">
      <img class="img-fluid card-img-top descripImg" ng-src="{{products[idProduct].link}}" alt="" />
    </div>
    <div class="col-lg-7 col-md-7">
      <div class="card-body cardBodyDescrip">
      <h5 class="card-title titleCardDesc">{{products[idProduct].product}}</h5>
          <p class="card-text CardDesc">{{products[idProduct].description}}</p>
      </div>
            <div class="card-footer footerDescrip">
                  <button type="button" class="btnFloating" ng-click="addToCart(item)"><i class="fas fa-shopping-basket"></i></button>
                  <span class="CardDescQte">Qté : <i class="fas fa-minus-circle" ng-click="items.qty = items.qty - 1; items.qty ? '' : removeFromCart(items)"></i><span class="pl-3 pr-3">{{items.qty}}</span><i class="fas fa-plus-circle"
                            ng-click="items.qty = items.qty + 1"></i></span>
        </div>
    </div>
  </div>
</div>
