<div class="container" ng-controller="allCategories">
  <div class="row">
    <div class="card-group col-12 col-md-4" ng-repeat="item in products">
      <a href="#!/showProduct/{{item.id}}">
      <div class="card">
        <img class="img-fluid card-img-top" ng-src="{{item.link}}" alt="" /></a>
        <div class="card-body">
        <button type="button" class="btnFloating" ng-click="addToCart(item)"><i class="fas fa-shopping-basket"></i></button>
          <a href="#!/showProduct/{{item.id}}"><h5 class="card-title">{{item.product}}</h5>
          <p class="card-text">{{item.description | limitTo : 100}}</p></a>
        </div>

        <div class="card-footer">
          <p class="card-text"><small>{{item.price | currency:"&euro;"}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
