@media (min-width: 768px) {
  .card-img {
    object-fit: cover;
    height: 150px;
    width: 100px;
  }
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.btnFloating {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 40px;
  border: rgba(255, 255, 255, 0.55);
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #26a69a;
  z-index: 1;
  left: 75%;
  top: -45px;
}

.btnRounded {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 25px;
  border: rgba(255, 255, 255, 0.55);
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background: #26a69a;
}

.btnRounded:hover {
  background: #777555;
  box-shadow: 0 0 3px gray;
}

.btnFloating:hover {
  background: #777555;
  box-shadow: 0 0 3px gray;
}

.imgCollage {
  border: 0.2rem solid white;
}

#imgLogo {
  width: 3rem;
  height: 3rem;
}

.navbar {
  height: 4rem;
  background-color: #bcaaa4;
}

.nav-link {
  color: #6c5347;
  font-weight: bold;
}

.navbar-nav {
  font-size: 1.5rem;
  font-family: 'Sofia', cursive;
  font-family: 'Lobster', cursive;
}

.voirTout {
  font-size: 1.5rem;
  color: #f7e6f0;
  font-family: 'Sofia', cursive;
  font-family: 'Lobster', cursive;
}

.nav-link:hover {
  color: #4a382f;
}

#navbarTogglerDemo01 {
  background-color: #bcaaa4;
  height: auto;
}

.basketShop {
  color: #f7e6f0;
}

#img {
  padding-left: auto;
}

.brown1 {
  background-color: brown;
}

.brown2 {
  padding-top: 2rem;
  height: 50rem;
}

.sticky-nav {
  left: 0;
  position: fixed;
  top: 0;
}

.reseauxSoc {
  background-color: #f7e6f0;
  height: 7rem;
  border-top: 0.2rem solid white;
}

.rowInstat {
  padding-top: 2rem;
}

.videoFb {
  padding-top: 2rem;
}

.containerFooter {
  background-color: #bcaaa4;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.containerBackFooter {
  background-color: #5b4b45;
}

#footerLogo {
  width: 4rem;
  height: 4rem;
}

=======
@media (max-width: 570px) {
  div img.card-img {
    object-fit: cover;
    height: 150px;
  }

  button.btnFloating {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 40px;
    border: rgba(255, 255, 255, 0.55);
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #26a69a;
    z-index: 1;
    left: 85%;
    top: -45px;
  }
  .containerFooter {
    background-color: #bcaaa4;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .containerBackFooter {
    background-color: #5b4b45;
  }

  #footerLogo {
    width: 4rem;
    height: 4rem;
  }
}
